<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TeeCircle</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.teecircle.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teecircle</string>
				<string>$(TEE_GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>$(TEE_GOOGLE_IOS_CLIENT_ID)</string>
	<key>GIDServerClientID</key>
	<string>$(TEE_GOOGLE_SERVER_CLIENT_ID)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>TEEGoogleIOSClientID</key>
	<string>$(TEE_GOOGLE_IOS_CLIENT_ID)</string>
	<key>TEEGooglePlacesAPIKey</key>
	<string>$(TEE_GOOGLE_PLACES_API_KEY)</string>
	<key>TEEGoogleServerClientID</key>
	<string>$(TEE_GOOGLE_SERVER_CLIENT_ID)</string>
	<key>TEEPostHogHost</key>
	<string>$(TEE_POSTHOG_HOST)</string>
	<key>TEEPostHogProjectToken</key>
	<string>$(TEE_POSTHOG_PROJECT_TOKEN)</string>
	<key>TEERevenueCatPublicSDKKey</key>
	<string>$(TEE_REVENUECAT_PUBLIC_SDK_KEY)</string>
	<key>TEERevenueCatTripProductID</key>
	<string>$(TEE_REVENUECAT_PRODUCT_ID)</string>
	<key>TEESupabaseHost</key>
	<string>$(TEE_SUPABASE_HOST)</string>
	<key>TEESupabasePublishableKey</key>
	<string>$(TEE_SUPABASE_PUBLISHABLE_KEY)</string>
	<key>TEEUseMockData</key>
	<string>$(TEE_USE_MOCK_DATA)</string>
	<key>TEEWebHost</key>
	<string>$(TEE_WEB_HOST)</string>
	<key>TeeCircleKeychainAccessGroup</key>
	<string>$(KEYCHAIN_GROUP_IDENTIFIER)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
